
<style>
	.bg {
		background: url(../waterfall.jpg);
		background-repeat: no-repeat;
    	background-size:100% 100%;
		display:flex;
		justify-content:center;
		align-items:center;
	}
	.form {
		margin-top: 350px;
		margin-bottom: 450px;
	}
	.budget, .days {
    	display: inline-block;
		
	}
	.form-group {
		display: inline-block;
	}
	ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: right;
}

li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: beige;
}
</style>

<body>

<body>

<ul>
  <img id="logo" src="../logo3.jpg"
  alt="Treco Logo" width="32" height="32">
  <li><a href="#about">Sign Up</a></li>
   <li><a href="#about">Log In</a></li>
   <li><a href="#contact">Contact Us</a></li>
   <li><a href="#news">News</a></li>
</ul>

</body>

<div class="bg">






<div class="form">
<form class="formSearch" role="form"
  action="/locations" method="POST">
 
  <input type="hidden" name="_csrf" value="{{csrf}}">
 
  <div class="budget">
    <label for="fieldQues" class="col-sm-2 control-label">
    Budget</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="fieldQues"
      name="Budget">
    </div>
  </div> <!-- End of form-group -->
 
  <div class="days">
    <label for="fieldQues" class="col-sm-2 control-label">
    Days</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="fieldQues"
      name="Days">
    </div>
  </div> <!-- End of form-group -->
 
  <div class="form-group">
    <div class="col-sm-4">
      <button type="submit" class="btn btn-default">Search</button>
    </div>
  </div> <!-- End of form-group -->
 
</form>
<p>
	{{message}}
	</p>
 
</div> <!-- End of contactUs -->
</div>
