<style>
	.container {
		display: grid;
  		grid-template-columns: 25em 25em 25em; 
		grid-template-rows: 15em 15em 15em;
  		grid-column-gap: 10px;
 		grid-row-gap: 15px;
	}
	.part {
		background-color: orange;
		border-radius: 25px;
		position: relative;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.theName {
		position: absolute;
  		bottom: 0;
  		left: 0;
		color: white;
		padding-bottom: 20px;
    	padding-left: 20px;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
	.theTPI {
		position: absolute;
  		bottom: 0;
  		left: 0;
		color: white;
		padding-bottom: 10px;
    	padding-left: 20px;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}
</style>
<p>Hey you guys.</p>

<body>

	<div class="container">
		{{#each myLocations}}
			<div class="part" style="background-image: url({{this.image}})">
				<h1 class="theName">{{this.name}}</h1>
				<p class="theTPI">TPI: {{this.tpi}}</p>
			</div>
		{{/each}}
	</div>

</body>